# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.6
    - CONFIG=osx_python3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "OJdhsKQQgUhNHkAxIfD3iOd0oUHd2N9G5Y8yNZzllE/WWuNDLi4lDG/ZbxlmIBAHS4RI1w2Cmx/d7ZK7uXgQYebC62b8kANQTMQFQLQhCm1fdWYZA1q0HiiO79zXrg95XyK0/UIJYdjGfsbI1XjIi4ubvNH5LlgIzGe8SxT3j78tAP9PGjf4+pkNQjwflS2+wOBnx0vQJdtqLnf6wZWoGWk0l9rcw3ovYIKtneWPVK+5wNvmTUMkpUG28omBeERmGqSt+I9htA81ENEKphw62sGICpYH79xS3RyELR/ttz6cCOdNcJ3dWJTgVkIKqCkX589QxEo66ha373eLb2zORDwVHqgvwU9AhTABIl5ez8hyHE760RTn7O5l26BdRbAKCv3QBBeKpcpAVV/AvEnLajIa9Dch1uxEvBQH5aHWpDnAVYDaXAmBvX5p/h+0GSQMHZoHfnWoEO1r14nCWjZFVO/yKQR2GgZzI38jDYUMI6Szv+8N4F6czyaVmxfRPkoel5RK4hYlH7B+OzyvSzul8WCSs0A1NqHZmGn6HlT9dmRxVuggGKeIcpikXPkMqEmIO5wtrx51UZe9YQEqBgjdWA9SG0Z7GioswF7vA4ExlXpBe6BnNZwGbaCsQr8bWhwZW39pocrf9FX3LA9uPVfAfbnyhGsifEqp+j8scuyx95Y="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
